# =====================
# SCRAPER / DATA
# =====================

data/

# ❌ bloquea todo (esto está mal)
# *.json

# ✅ permitir json en public
*.json
!public/**/*.json
!package.json
!package-lock.json
!vercel.json